<!--The content below is only a placeholder and can be replaced.-->
<div class="logo">
  <img height="150" alt="Logo"  src="assets/got.jpg">
  <div style="flex:2; text-align: center; margin: 0 20px 0 20px">
    <h1>Hold the DOM!</h1>
    <hr />
    <br />
    <i>Formation Angular</i>
  </div>
  <img height="150" src="assets/medal-of-hodor.jpg" style="height: 150px;" />
</div>

<div>
  <div class="selected-char-card">
    <app-character [character]="selected"></app-character>
  </div>
</div>

<ng-container>

  <mat-tab-group (selectedTabChange)="tabChange($event)">

    <mat-tab label="Characters">
      <h4>Characters</h4>
      <app-characters-grid [characters]="characters" (select)="select($event)"></app-characters-grid>
    </mat-tab>

    <mat-tab label="Books">
      <h4>Books</h4>
      <app-panel-with-list *ngFor="let book of books" [object]="book">
        <app-characters-grid [characters]="book.characters" (select)="select($event)"></app-characters-grid>
      </app-panel-with-list>
    </mat-tab>

    <mat-tab label="Houses">
      <h4>Houses</h4>
      <app-panel-with-list *ngFor="let house of houses" [object]="house">
        <app-characters-grid [characters]="house.characters" (select)="select($event)"></app-characters-grid>
      </app-panel-with-list>
    </mat-tab>

  </mat-tab-group>

</ng-container>
