<!--The content below is only a placeholder and can be replaced.-->
<mat-grid-list cols="4" rowHeight="2:1" gutterSize="20px">
  <mat-grid-tile [style.background]="'lightblue'">toto</mat-grid-tile>
  <mat-grid-tile>titi</mat-grid-tile>
  <mat-grid-tile [style.background]="'lightblue'">tata</mat-grid-tile>
  <mat-grid-tile>tonton</mat-grid-tile>
  <mat-grid-tile>tutu</mat-grid-tile>
  <mat-grid-tile [style.background]="'lightblue'">tati</mat-grid-tile>
  <mat-grid-tile>prout</mat-grid-tile>
</mat-grid-list>

