<!--The content below is only a placeholder and can be replaced.-->
<div class="logo">
  <img width="300" alt="Angular Logo" src="https://static1.squarespace.com/static/52fc05c9e4b08fc45bd99090/5331dfe2e4b0f77da2ddde51/59ea491b6957da87771f8d48/1508527334950/102017-conquest-fightforbanner-1024x576.jpg?format=1500w">
</div>

<div class="chapter">
  <h2>
    <div>Utiliser ngFor pour lister les personnages</div>
    <div>Utiliser l'opérateur ternaire pour afficher "name" ou "alias" : </div>
  </h2>
  <div class="container">
    <div *ngFor="let character of characters" class="card">
      {{ character.name?character.name:character.aliases[0] }}
    </div>
  </div>
</div>

<div class="chapter">
  <h2>
    <div>Utiliser ngClass pour ...</div>
  </h2>
  <div class="container">
    <div *ngFor="let character of characters" class="card">
      {{ character.name?character.name:character.aliases[0] }}
    </div>
  </div>
</div>

<div class="chapter">
  <h2>
    <div>Mettre setTimeout pour simuler une requête http un peu longue </div>
    <div>Utiliser ngTemplate pour afficher un spinner</div>
  </h2>
  <div class="container">
      <div *ngFor="let character of characters" class="card">
        {{ character.name?character.name:character.aliases[0] }}
      </div>
    </div>
  </div>