.logo {
    width: 100%;
    background-color: black;
}

body {
    margin: 20px;
}

.alias {
    font-style: italic;
    color: darkmagenta;
}

mat-grid-tile {
    /* Add shadows to create the "card" effect */
    background-color: lightgoldenrodyellow;    
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
mat-grid-tile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
