@import '~@angular/material/theming';
@import '../theme.scss';

mat-tab-group {
    color: $primary;
    margin: 20px;    
}



.logo {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
}

.female {
    color: blue;
}

.male {
    color: hotpink;
}

mat-grid-tile {
    /* Add shadows to create the "card" effect */
    border: 1px $accent solid;    
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
mat-grid-tile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.char-card {
    padding: 10px;
}

.selected-char-card {
    flex: 1;
    border-left: 1px solid $primary;
    padding: 20px;
    min-width: 200px;
    min-height: 100px;
    margin: 20px    
}
.selected-char {
    margin-bottom: 20px;
}
