@import '../../theme.scss';

mat-grid-tile {
    /* Add shadows to create the "card" effect */
    border: 1px $accent solid;
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
mat-grid-tile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.female {
    color: blue;
}

.male {
    color: hotpink;
}

.char-card {
    padding: 10px;
}