.legend {
    top: 100px!important;
    left: 230px!important;
}

.ie {
    background: url('ie.png') no-repeat;
}
.netscape {
    background: url('netscape.png') no-repeat;
}
.chrome {
    background: url('chrome.png') no-repeat;
}
.firefox {
    background: url('firefox.png') no-repeat;
}
.safari {
    background: url('safari.png') no-repeat; 
}
.flash {
    background: url('flash.png') no-repeat; 
}
.browser {
    background-size: auto 100%;
    border: 0px;
    border-bottom: 2px solid blue;
} 
.browser .vis-item-content {
    margin-left: 100px;
}
