<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>reveal.js</title>

  <link rel="stylesheet" href="css/reveal.css">
  <link rel="stylesheet" href="css/theme/black.css">

  <!-- Theme used for syntax highlighting of code -->
  <link rel="stylesheet" href="lib/css/zenburn.css">

  <!-- Printing and PDF exports -->
  <script>
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
    document.getElementsByTagName('head')[0].appendChild(link);
  </script>
</head>

<body>
  <div class="reveal">
    <div class="slides">
      <section>
        <h2>Au programme:</h2>
        <ul>
          <li>le client angular ng</li>
          <li>les composants</li>
          <li>le databinding</li>
          <li>le cycle de vie</li>
          <li>le change-detection</li>
        </ul>
      </section>


      <section data-markdown data-separator="^\n--\n$" data-separator-vertical="^\n---\n$">
        <script type="text/template">

## Ma 1ère app!
![happy](images/happy.gif)

---

### Sans proxy : 

```
ng new hold-the-dom --skip-tests --style=scss
cd hold-the-dom
ng serve --open
``` 

---


### Réseau CGI :

```
ng new hold-the-dom --skip-install --skip-tests --style=scss
cd hold-the-dom
echo https-proxy=http://fr-proxy.groupinfra.com:3128 > .npmrc
echo proxy=http://fr-proxy.groupinfra.com:3128 >> .npmrc
npm install
ng serve --open
```

---

## Importer les données GoT

* copier les répertoires data et model

![model-data](images/dir-model-data.JPG)

---


## Installer Angular material

```
  npm install --save @angular/material 
  npm install --save @angular/cdk @angular/animations
```

---


### Importer un theme existant 

* dans style.scss 

``` 
  @import "~@angular/material/prebuilt-themes/indigo-pink.css";
```
  
* deeppurple-amber
* purple-green
* pink-bluegrey

---

### Rajouter le module grid 

* dans app.module.ts:

```
  import { MatGridListModule } from '@angular/material/grid-list';
  @NgModule({
  ...
  imports: [MatGridListModule],
  ...
  })
```

---

    
### Test

* copier dans app.component.html

```
<mat-grid-list cols="4" rowHeight="2:1" gutterSize="20px">
  <mat-grid-tile [style.background]="'lightblue'">toto</mat-grid-tile>
  <mat-grid-tile>titi</mat-grid-tile>
  <mat-grid-tile [style.background]="'lightblue'">tata</mat-grid-tile>
  <mat-grid-tile>tonton</mat-grid-tile>
  <mat-grid-tile>tutu</mat-grid-tile>
  <mat-grid-tile [style.background]="'lightblue'">tati</mat-grid-tile>
  <mat-grid-tile>prout</mat-grid-tile>
</mat-grid-list>
```  

---


* ng serve --open 
===> [vérifier le rendu](./install-ng-material.PNG)

---

## Git commit!
Faire des commit intermédiaires pour voir facilement les fichiers générés

					</script>
      </section>


      <section data-markdown data-separator="^\n--\n$" data-separator-vertical="^\n---\n$">
        <script type="text/template">
## Template expressions {{

*ou interpolation ou la moustache*

![moustache](images/moustache.JPG)

---

* pas de changement avec AngularJS
* pas de modif dans la moustache  {{ toto = 'titi'}}
* concat. et arithmétique {{ 'toto' + 'titi' }}
* opérateur ternaire {{ grosseCom ? 'caca' : 'pipi' }}

---

### Structural directives
```
*ngIf="lines"
*ngFor="let l of lines"
[ngSwitch] 
```

*1 seule directive par élément*

---

### Attribute directives

``` 
ngStyle="{ 'style1': i==5, 'style2': true }"
ngClass="{ 'classe1': i==5, 'classe2': true }"
``` 

---

_Exercice 1_


---

### ng-container

Elément transparent pour le DOM

Le code suivant plante :
```
<tbody>
    <tr *ngIf="gridData1" *ngFor="let row of gridData1.rows">
    <tr *ngIf="gridData2" *ngFor="let row of gridData2.rows">
```

Une solution :
```
<tbody>
  <ng-container *ngIf="gridData1">
    <tr *ngFor="let row of gridData1.rows">
```

---

### ngTemplate

* code HTML à afficher que dans certains cas
* par exemple dans le "else" du ngIf :
```
<div *ngIf="!inProgress; else progressBar">
  ...
<ng-template #progressBar>
```
_code plus lisible_

---

_Exercice 2_

    
        </script>
      </section>     
      
      
      <section data-markdown data-separator="^\n--\n$" data-separator-vertical="^\n---\n$">
        <script type="text/template">
## Le standard HTML5 
## *web component*

---

### Custom element

```
class Character extends HTMLElement {
  ...
}
customElements.define('character', Character);
```

---


### shadow DOM 

*isolation DOM/CSS*

```
character-container = element.attachShadow({mode: open})
.character-inner {
  background-color: #dedede;
}
```

---


### Template

*html caché, réutilisable*

```
<template id="character-template">
  <div class="character-inner">
    <h2 class="character-name"></h2>
    <span class="character-gender"></span>
  </div>
</template>
```

---

### HTML import

*importer un template HTML à partir d'un fichier séparé*

```
<link rel="import" href="./character/character.html">
```

---


## Angular components

---

### Structure

* 1 fichier html
* 1 fichier scss, 
* 1 fichier ts
  - selector: nom de la balise HTML
  - template: référence vers le fichier HTML
  - style: référence vers le fichier SCSS
  - classe controller, annotée @Component
* importé/exporté dans un module

---

### Dumb components 

![stupid](images/dumbs.gif)

---

* Composant de _présentation_
* Indépendant du contexte
* Pas de logique métier 
* Réutilisables

---

Exemple: 

tous les composants angular-material

---


### Smart components 

![smart](images/smart.gif)


---

* _Containers_
* Connaissent le contexte
* Exécutent de la logique métier 
* Peu réutilisables

---

Exemple: 

tous les composants qui modifient vos objets métiers directement

---


_Exercice 3.1_


        </script>
      </section>   
      
      
      <section data-markdown data-separator="^\n--\n$" data-separator-vertical="^\n---\n$">
        <script type="text/template">

## Databinding

---

### ngModel

* AngularJS databinding

```
<input ng-model="name">
```

---

* Equivalent Angular 2+

```
<input [(ngModel)]="name">
```

![snow-happy](images/snow-happy.gif)

---

### 2 bananes dans une boîte

[()]

![snow-think](images/snow-think.gif)

---

![bananas](images/bananas-box.JPG)

---

### [] === Passer des données

```
<input [value]="name">
```

### () === Ecouter un évènement

```
<input (change)="name = $event">
```

---

## Composants personnalisés avec @Input

```
<character-grid [characters]="characters">

@Input() characters: Character[];
```

---

_exercice 3.2_

_exercice 4_

---

### Evénements utilisateur @Output

```
@Output() select = new EventEmitter<Character>();

onSelect(it: Character) {
  this.select.emit(it);
}
```

---


_exercice 5_


---


### Directives personalisées

```
<p appHighlight>Highlight me!</p>


@Directive({
  selector: '[appHighlight]'
})
export class HighlightDirective {
    constructor(el: ElementRef) {
       el.nativeElement.style.backgroundColor = 'yellow';
    }
}
```

---

## ngContent

_Transclusion_:

* quand on veut un composant "conteneur" assez générique
* on place le contenu HTML dans un placeholder *<ng-content>*

---

### Exemple avec angular-material

```
<mat-grid-tile *ngFor="let character of charactersAsync">
  <!-- <ng-content> --> 
  <div>{{ character.name }}</div>
  <!-- </ng-content> --> 
</mat-grid-tile>
```          

---

_Exercice 6_


        </script>
      </section>   


      <section data-markdown data-separator="^\n--\n$" data-separator-vertical="^\n---\n$">
        <script type="text/template">
## Lifecycle

---

### OnInit
* appelé après le constructeur
* privilégier cette méthode pour 
    - s'abonner à des observables
    - manipuler les attributs @Input
    - appeler des services
    - appeler des requêtes http, etc.

---

### OnDestroy
* peut être utilisé pour désallouer des ressources
* unsubscribe sur les observables qui auraient été souscrits dans le code
* ex: autocomplete 

---

### DoCheck
* appelé énormément de fois, à chaque évènement du DOM en fait
* à utiliser très prudemment seulement si Angular ne détecte pas un changement particulier
* utilisé pour le déboggage

![catelyn2](images/catelyn2.gif)

---

### OnChanges
* à chaque évènement qui va effectuer une màj du composant
* utilisé pour le déboggage... pas d'autres idées 

![catelyn1](images/catelyn1.gif)

---

### AfterContentInit, AfterContentChecked, AfterViewInit, AfterViewChecked

*voir la doc!*

![catelyn3](images/catelyn3.gif)

---

_Exercice 6_


</script>
</section>   


<section data-markdown data-separator="^\n--\n$" data-separator-vertical="^\n---\n$">
  <script type="text/template">

## Change Detection

---

### Changements

le state (les objets JS) changent

=> on veut mettre à jour la vue

* Events
* Requête HTTP
* setTimeout(), setInterval()

---

### Change detectors

* observe les changements du state 
    - _les attributs des controlleurs_

* Angular fait le tour des composants en 1 passe
    - en partant du root component jusqu'au feuilles

---

    
_Unidirectional dataflow_

![dragon-oneshot](images/dragon-oneshot.gif)

![dataflow](images/change-detection-1.JPG)
---

### CD Strategy

Angular observe par défaut les modifs

* référence des objets : `myObj = new Obj()` 
* des propriétés des objets : 
`myObj.name = 'toto'`

**c'est ça qui coûte cher**

---

ChangeDetectionStrategy.OnPush

```
@Component({
  template: `
    <h2>{{myObj.name}}</h2>
  `,
  changeDetection: ChangeDetectionStrategy.OnPush
})
class VCardCmp {
  @Input() myObj;
}
```

* Angular n'observe que les changement de références
* si `myObj.name` est modifié, rien ne se passe

---

**Plus performant!**

![dataflow](images/change-detection-2.JPG)

---

**Mais ça ne marche pas tout le temps!**

![snow-sad](images/snow-sad.gif)

---

* il faut s'assurer que rien ne modifiera `myObj.name`
* si on veut modifier le nom, créer un nouvel obj systématiquement
* utiliser une lib comme Immutable.js 

---

_Exercice 8_

![cd1](images/change-detection1.svg)

---

![cd2](images/change-detection2.svg)

---

### Observables / ChangeDetectorRef

![snow-sad](images/chaton.gif)

on va allez se coucher plutôt...

---

Référence: 

https://blog.thoughtram.io/angular/2016/02/22/angular-2-change-detection-explained.html#what-causes-change


        </script>
      </section>   
    </div>
  </div>

  <script src="lib/js/head.min.js"></script>
  <script src="js/reveal.js"></script>

  <script>
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
      dependencies: [
        { src: 'plugin/markdown/marked.js' },
        { src: 'plugin/markdown/markdown.js' },
        { src: 'plugin/notes/notes.js', async: true },
        { src: 'plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } }
      ]
    });
  </script>
</body>

</html>